[MASTER]
# Add the backend directory to the Python path so Pylint can find Django apps
init-hook='import sys; sys.path.append("c:/Users/HADDER/Desktop/FIDNI/backend")'

# Load Django plugin for better Django support
load-plugins=pylint_django

# Specify Django settings module
django-settings-module=config.settings

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=

# List of class names for which member attributes should not be checked
ignored-classes=

# List of members which are set dynamically and missed by Pylint inference
generated-members=objects,DoesNotExist,id,pk,_meta,MultipleObjectsReturned

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    too-few-public-methods,
    import-error

[VARIABLES]
# Additional builtins to consider as defined
additional-builtins=

[DESIGN]
max-attributes=15
max-args=10
